<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.lcunial.spotify50">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
            android:name="com.example.lcunial.spotify50.application.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/actionbar_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.example.lcunial.spotify50.view.main.login.LoginActivity"
                  android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="spotifytestapp" android:host="callback"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.spotify.sdk.android.authentication.LoginActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
                android:name=".view.main.root.MainActivity"
                android:configChanges="orientation|screenSize"/>
    </application>

</manifest>